
       <div class="about">         
          <div class="row"> 
            <div class="col-md-6">
              <div class="prow">
              <p><span>Petro Engineering Canada Ltd.</span> is a Canadian company specializing in providing integrated engineering, procurement, construction and project management services to the energy sector. We are an industrial supplier of equipment and bulk material to Canadian oil and gas companies.

              We are a multi-discipline consulting engineering and industrial supply company with a wide range of capabilities and experience. We operate with all disciplines in-house and use third parties for specialty expertise or special technology.

              We have strong technical qualifications and a proven track record in providing safe, high-quality, cost-effective and timely services and goods to our customer. Our projects range from revamps, debottlenecks, overhauls and upgrades on existing facilities right through to complete EPCM services for major grassroots facilities.</p>               
              </div> 

              <div class="srow">
              <p>Main areas of specialties include:</p>
              <ul>
              <li>Gas Processing</li>
              <li>Oil Processing</li>
              <li>Enhanced Oil Recovery / Artificial Lift</li>
              <li>Gasification</li>
              <li>Technology Development - Oil & Gas Industry</li>
              </ul>
              </div>
              
             </div> 
              

              <div class="col-md-6">                 
                 <%= image_tag("aboutus.jpg", class: "aboutus", size: "490x700")%>
              </div>
                        
           </div>
        </div><!--end of about--> 