<div class="career">

    <p class="head">Careers</p>

    
    <%= image_tag("carimage1.jpg", class: "pic",  size: "1000x500")%>
  
    <p>Petro Engineering Canada Ltd. is always looking for top talents to join our organization. If interested in joining a dynamic and growing company, please send your resume in strict confidentiality to the following email address:

    careers@petroengineeringcanada.com 

    Candidates with an engineering degree in all disciplines, project controls, procurement and expediting, logistics (with experience in ocean transport) and document control specialists are encouraged to apply.

    We thank you for sending your resume however only qualified candidates will be contacted.</p>

  
      
    
    
      
  

    </div><!--end of career-->

