<div class="career">

    <p class="head">Careers</p>

    
    <%= image_tag("carimage1.jpg", class: "pic",  size: "1000x500")%>
  
    <p>Petro Engineering Canada Ltd. is always looking for top talents to join our organization. If interested in joining a dynamic and growing company, please send your resume in strict confidentiality to the following email address:

    careers@petroengineeringcanada.com 

    Candidates with an engineering degree in all disciplines, project controls, procurement and expediting, logistics (with experience in ocean transport) and document control specialists are encouraged to apply.

    We thank you for sending your resume however only qualified candidates will be contacted.</p>


    <form>
      <div class="form-group">
       <label for="exampleInputEmail1">Email address</label>
       <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
       <label for="exampleInputPassword1">Password</label>
       <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
       <label for="exampleInputFile">File input</label>
       <input type="file" id="exampleInputFile">
       <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
      <label>
      <input type="checkbox"> Check me out
      </label>
     </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
      
    </div>

    </div><!--end of career-->

