<div class="contact">
    
    <p class="head">Contact Information</p>
      
         <h2>Contact Petro Engineering Canada Ltd.</h2>
         <p>For additional information about us, or to discuss your global engineering and project needs, please contact us via e-mail at info@petroengineeringcanada.com or at the following location:</p>

   

         <iframe width="1000" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5614%20unit%20E%20Burbank%20Rd%20SE%20Calgary%20AB%20Canada&key=AIzaSyCbCIxdizaWRVUBAQi6cNqLHQtnjIwIFiI" allowfullscreen></iframe>

          <div id="map"></div>

          <div class= row>

          <div class="col-lg-4 col-md-4">
          <ul>
          <li>Calgary Office - Canada
              5614 Burbank Rd SE
              Unit E
              Calgary, AB T2H 1Z4 - Canada</li>
          <li>Mailing Address:
              P.O. Box 73035
              Calgary, AB T2W 6E4 - Canada</li>
          <li> Director: Mo Sadagheh BSME, MSME, P.Eng., PMP </li>
          
          </ul>
        </div>


        <div class="col-lg-8 col-md-8">
        <ul>
         
         <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>info@petroengineeringcanada.com</a></li>
         <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>sales@petroengineeringcanada.com</a></li> 
         <li><span class="glyphicon glyphicon-phone"></span>+1-(587) 351-9585</li>
         <li><span class="glyphicon glyphicon-phone"></span>+1-(587) 351-9583</li>  
         <li><span class="glyphicon glyphicon-phone"></span>Fax+1-(587) 351-9581</li>         
         <li><a href="#"><span class="glyphicon glyphicon-signal "></span>http://www.petroengineeringcanada.com/</a></li>

        </ul>        
          
        </div> 
          </div><!--end of row-->

          

          </div><!--end of contact-->