<div class="contact">
    
    <p class="head">Contact Information</p>

          
      
         <h2>Contact Petro Engineering Canada Ltd.</h2>
         <p>For additional information about us, or to discuss your global engineering and project needs, please contact us via e-mail at info@petroengineeringcanada.com or at the following location:</p>

   

         <iframe width="1000" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5614%20unit%20E%20Burbank%20Rd%20SE%20Calgary%20AB%20Canada&key=AIzaSyCbCIxdizaWRVUBAQi6cNqLHQtnjIwIFiI" allowfullscreen></iframe>

          <div id="map"></div>

          <div class= row>

          <div class="col-lg-4 col-md-4">
          <ul>
          <li>Calgary Office - Canada
              5614 Burbank Rd SE
              Unit E
              Calgary, AB T2H 1Z4 - Canada</li>
          <li>Mailing Address:
              P.O. Box 73035
              Calgary, AB T2W 6E4 - Canada</li>
          <li> Director: Mo Sadagheh BSME, MSME, P.Eng., PMP </li>
          
          </ul>
        </div>


        <div class="col-lg-8 col-md-8">
        <ul>
         
         <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>info@petroengineeringcanada.com</a></li>
         <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>sales@petroengineeringcanada.com</a></li> 
         <li><span class="glyphicon glyphicon-phone"></span>+1-(587) 351-9585</li>
         <li><span class="glyphicon glyphicon-phone"></span>+1-(587) 351-9583</li>  
         <li><span class="glyphicon glyphicon-phone"></span>Fax+1-(587) 351-9581</li>         
         <li><a href="#"><span class="glyphicon glyphicon-signal "></span>http://www.petroengineeringcanada.com/</a></li>

        </ul>        
          
        </div> 
          </div><!--end of row-->
            

            <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <div class="form-group">
    <textarea id="message" cols="100" rows="5" onkeyup="countChar(this)"
          placeholder="Type your message ..." >
</textarea>

<input id="text-character" class="input-mini uneditable-input"
       placeholder="0 Chars" readonly />
<input id="text-parts" class="input-mini uneditable-input"
       placeholder="0 Parts" readonly />
<input id="text-remaining" class="input-medium uneditable-input"
       placeholder="160 Chars Remaining" readonly />  
  </div>
  
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Please attach your file.</small>
  </div>
  
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <script type="text/javascript">
    function countChar(val) {

    var len = val.value.length;
    var ctext = len + " Chars";

    var str = val.value;
    var parts = [];
    var partSize = 160;

    while (str) {
        if (str.length < partSize) {
            var rtext = (partSize - str.length) + " Chars Remaining";
            parts.push(str);
            break;
        }
        else {
            parts.push(str.substr(0, partSize));
            str = str.substr(partSize);
        }



    }
    var ptext = parts.length + " Parts";

    

    $('#text-character').val(ctext);
    $('#text-parts').val(ptext);
    $('#text-remaining').val(rtext);

}
  </script>
</form>







          <!-- Large modal -->
          <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>
            Worked as an Instrumentation and Control, and Automation engineer in EPCM companies on Oil& Gas projects.
            Knowledge and Experience Applying Codes and Standards such as CSA, API, ANSI, ASME and ISA.
            Remarkable Knowledge in Selecting, Specifying, Sizing, and Purchasing Control Valve, PSV, Flow meters, and any Type of Conventional or Field-Bus Instruments.
            Supervision and Inspection of Installation, Modification, Test and Commissioning of Different Instruments and Control. 
            Delta V DCS System Configuration, and Integration.
            Allen Bradly PLC System Integration; ControlLogix 5000, RSLogix 5000, Factory Talk View Programing and Configuration;
            Siemens PLC System Integration, SIMATIC S7 and SIMATIC WinCC Programing and Configuration.
            Hands on Experience with Yokogawa DCS System CS-3000, Hima Safety PLC System and Relevant HMI and Monitoring Systems During Construction, SAT and Commissioning.
            Developing Engineering Design Including Electrical Schematics, Panel layouts, and the Bill of materials, for equipment.
            Noticeable Experience in Instrumentation and Control Systems of Mechanical Packages like as Compressors, Turbines, Pumps and Boilers. 
            Excellent Knowledge of AVEVA Instrumentation Databases (AVEVA Supervisor and Administrator). Working knowledge of InTools.
            Coordinated and Team Worked with other Engineering Groups During Engineering, Construction, Commissioning, and Operations.</p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

 </div><!--end of contact-->











          
          
          

          

          
        





          

         