
    <div class="header">
      <div class="container1">
        <h1>threadly</h1>
      </div>
    </div>

    <div class="main">
      <div class="container1">
        
        <form class="form">
          <input id="comment" type="text" placeholder="share your thoughts">
          <button type="submit" class="btn">post</button>
        </form>

        <ul class="comments">
          <li>Have you felt it?</li>
          <li>There has been an awakening.</li>
        </ul>
      </div>
    </div>

    
    