<div class="our"> 
    

    <p class="head">Our Leadership</p>

    <%= image_tag("leadimage1.jpg", class: "team",  size: "700x500")%>
  
    <p>1- Front Row - Left to Right

    Nader Ardalan BSME, MSME, P.Eng., VP - Engineering Manager

    Mohammad Sadagheh BSME, MSME, P.Eng., PMP, Director

    Sumit Saha BSc P.Eng., Civil/Structural Dept. Manager

    Maryam Janbaz BSME, Project Lead - Bulk Materials and Manual Valves

    Alysa Woolley BSc, Human Resources and Public Affairs

    2- Second Row

    Elio Ugas BSc, P.Eng., PMP, Project Lead - Division 2 (South America)

    3- Third Row - Left to Right

    Tajav Ghayour BSc, P.Eng., Mechanical Engineering Dept. Manager

    Aydin Sadagheh Legal Counsel

    Kevin Yang BSc, P.Eng., Project Lead - Division 1 (East Asia)

    David Liu BSc, Project Lead - Process Modules

    Porfirio Martinez Ferreras MSc, P.Eng., Project Lead - Rotating Equipment

    Mitra Faramarzi BSc, Finance and Accounting

  </p>

  
  <%= image_tag("leadimage2.jpg",  size: "400x400")%>
  <p>Rahim Jafarian, BSME, MSME, Project Lead - Division 3 (Middle East)</p>

  
      
  </div><!--end of our-->
