// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**** nav bar ****/
.nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;

}

.nav li {
    float: left;
}

.nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


.nav li .dropdown {
    display: inline-block;
}


/**** footer ****/

footer {
  border: 2px solid #ccddff;
  border-radius: 5px; 
  box-shadow: -10px -10px 5px #55a616;  
  margin-bottom: 30px;
  margin-top: 30px;
}